/* general aesthetic */
body {
        font-family: Gill Sans, sans-serif;
        background-color: #ffffff;
        text-align: center;
}

/**************** headers ****************/
h1, h2, h3, h4, h5, h6 {
        color: #2dad68;
}

/*************** paragraph ****************/
p {
        color: #2dad68;
        font-size: 12px;
}

/************** text fields **************/
label {
        color: #2dad68;
}

/**************** links *******************/
a {
        color: #2dad68;
}

a:hover {
        color: #2dad68;
}

button {
        border: none;
        padding: 4px 8px;
        color: #ffffff;
        background-color: #2dad68;
        border-radius: 4px;
}
