/* general aesthetic */
body {
        font-family: Gill Sans, sans-serif;
        background-color: #cfceb4;
        text-align: center;
}

/**************** headers ****************/
h1, h2, h3, h4, h5, h6 {
        color: #173613;
}

/*************** paragraph ****************/
p {
        color: #173613;
}

/************** text fields **************/
label {
        color: #173613;
}

/**************** links *******************/
a {
        color: #173613;
}

a:hover {
        color: #173613;
}

button {
        outline: none;
        margin: 10px;
        border: none;
        border-radius: 2px;
}
