/* general aesthetic */
html, body {
        width: 100%;
        height: 100%;
        margin: 0px;

        font-family: Gill Sans, sans-serif;
        background-color: #ffffff;
        text-align: center;

}

/*************** paragraph ****************/
p {
        font-size: 14px;
}

button {
        border: none;
        padding: 4px 8px;
        border-radius: 8px;
}

.text {
        color: #2dad68;
        background: #ffffff;
}

.otherText {
        color: #ffffff;
        background: #2dad68;
}

#sidebar {
        height: 100%;
        width: 14%;
        float: left;

        border: none;
        margin: 0px;
}

#content {
        width: 86%;
        height: 100%;
        float: left;
}
